.body{
    background-color:deeppink;
}
.fab, .far {
    font-weight: 400;
    font-size: 40px;
    padding: 10px;
    margin: 10px;
    color: green;
}
.navbar-brand {
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 55rem;
    font-size: 20px;
    text-decoration: none;
    white-space: nowrap;
    color: darkgreen;
    font-weight: bold;
}
.fa, .fas {
    font-weight: 900;
    font-size: 30px;
    padding: -12px;
    margin: -8px;
    color: darkgrey;
}
.text-label{
    font-weight: bold;
    font-style: oblique;
}
.text-label1{
    color: darkgray;
}
.ellipsis{
    font-weight: 900;
    font-size: 40px;
    color:black;
    text-align: end;
    justify-content: end;

}
.fa, .fas {
    font-weight: 900;
    font-size: 40px;
    inline-size: 50px;
    color: black;
}
.footer{
    font-weight: bolder;
}
.fab, .far {
    font-weight: 400;
    font-size: 49px;
    color:gray;
}
.fab, .far {
    font-weight: 400;
    font-size: 49px;
    color: gray;
    margin: 10px;
}
.fab, .far {
    font-weight: 400;
    font-size: 49px;
    color: gray;
    margin: 10px;
}
.date{
    text-align: end;
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    margin: 0px 0px 167px 3px;
}
.card-img-too{
    background-color:brown;
}
.card-header{
    background-color: white;
}
