.container{
    display: flex;
    flex-direction: row;
    margin:10px 10px;
    justify-content: space-between;

}
.box1{
    height: 1000px; 
    background-color:yellow;
    flex-basis: 30%;
}
.box2{
    height: 1000px;
    background-color:rgb(109, 232, 236);
    flex-basis: 68%;
}

/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .container{
        display: flex;
        flex-direction: row;
        margin:10px 10px;
        justify-content: space-between;
    
    }
    .box1{
        height: 1000px; 
        background-color:yellow;
        flex-basis: 30%;
    }
    .box2{
        height: 1000px;
        background-color:rgb(109, 232, 236);
        flex-basis: 68%;
    }

}
/* ----------- Non-Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
    .container{
        display: flex;
        flex-direction: row;
        margin:10px 10px;
        justify-content: space-between;
    
    }
    .box1{
        height: 1000px; 
        background-color:yellow;
        flex-basis: 30%;
    }
    .box2{
        height: 1000px;
        background-color:rgb(109, 232, 236);
        flex-basis: 68%;
    }
}
/* ----------- iPad 1, 2, Mini and Air ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .container{
        display: flex;
        flex-direction: row;
        margin:10px 10px;
        justify-content: space-between;
    
    }
    .box1{
        height: 1000px; 
        background-color:yellow;
        flex-basis: 30%;
    }
    .box2{
        height: 1000px;
        background-color:rgb(109, 232, 236);
        flex-basis: 68%;
    }

}