<html>
    <head>
        <link href="/style.css" rel="stylesheet" />
    </head>
    <body>
        <div id='parent'>
        <form method="POST" action="/user/add" id="form_login">
            <label >Name:</label><br>
            <input name="Name" input="" /><br>
            <label >Email:</label><br>
            <input name="email" input="" /><br>
            <label >Age:</label><br>
            <input name="age" input="" /><br>
            <label >City:</label><br>
            <input name="city" input="" /><br>
            <label >Profession</label><br>
            <input name="profession" input="" /><br><br>
            <input type="submit" value="Submit" />
        </form>
    </div>
    </body>
</html>