table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 15px;
    text-align: left;
  }
td:hover {background-color:grey;}
input[type=text]:focus {
    border: 3px solid #555;
}



body {
    text-align: center;
    background-color: cadetblue;
    
}
form {
    display: inline-block;
}
a:hover {
    background-color: grey;
  }