<html>
<head>
    <title>Welcome to templates</title>
    <link href="/style.css" rel="stylesheet" />
</head>
<body style="background-color: aliceblue;">
    <header><h1>SUBMIT FORM</h1></header>
    <div class="main">
    <div class="container">
        <form method="POST" action="/user/add">
            <label >Name:</label><br>
            <input name="Name" input=""/><br>
            <label >Email:</label><br>
            <input name="email" input="" /><br>
            <label >Age:</label><br>
            <input name="age" input="" /><br>
            <label >City:</label><br>
            <input name="city" input="" /><br>
            <label >Profession:</label><br>
            <input name="profession" input="" /><br>
            <label>Selected:</label><br>
            <input name="selected" value="" /><br /><br />
            <button type="submit">Submit</button>
        </form>
    </div>
</div >


  </body>
</html>